.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.task-item:first-of-type td {
  border-top: none;
}

.task-item {
  background-color: var(--white);
}

.disabled.task-item {
  color: var(--gray);
}

.done.task-item {
  color: var(--dark);
  /* font-style: italic; */
}

.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.td--actions span,
.td--actions button,
.disabled.task-item:hover .td--actions button {
  transition: opacity .3s cubic-bezier(0.5, 1, 0.89, 1);
  opacity: 0;
  vertical-align: middle !important;
}

.is-editing {
  background-color: var(--light);
}
.task-item:hover .td--actions span,
.is-editing .td--actions button,
.task-item:hover .td--actions button {
  opacity: 1;
}
.is-editing .badge,
.filters .badge {
  cursor: pointer;
}

.badge-light {
  color: var(--gray) !important;
}

.tr--controls {
  text-align: center;
  background: linear-gradient(0deg, var(--white) 0%, var(--light) 100%);
}

.td--delete {
  text-align: left;
}

.tr--controls td {
  padding: .25rem !important;
  border-top: none !important;
}

.is-dragging td {
  border-top: 1px solid var(--primary) !important;
  border-bottom: 1px solid var(--primary) !important;
  background-color: #e3f0ff;
}
.is-dragging td:first-of-type {
  border-left: 1px solid var(--primary) !important;
}
.is-dragging td:last-of-type {
  border-right: 1px solid var(--primary) !important;
}

.tr--progress td {
  padding: 0 !important;
  border: none !important;
}
.tr--progress .progress {
  height: 0.25rem !important;
  border-radius: unset !important;
  /* background-color: var(--light); */
}

.input--custom-time {
  color: var(--gray);
  font-size: 75%;
  display: block;
}
.input--custom-time input {
  font-size: 75%;
  display: inline;
}
